body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px
}
.children{
	width: 150px;
	border: 2px solid #f00;
	padding: 20px;
}
.one{
	height: 120px;
}
.two{
	height: 40px;
}
.three{
	height: 100px;
}
.four{
	height: 200px;
	border: 1px solid #0f0;
}

@media all and (max-width: 640px) {
	.wrap{
		flex-direction:row;
		flex-wrap:wrap;
		align-items:flex-start;
	}
	.four{
		order:1 !important;
	}
	.children{
		order:2;
	}
}